<div>
  <div class="country__div">
    <ul class="country__ul">
      {{#each this}}
        <li class="country__name">
          <a href="">{{name.official}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>